*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/ktlint-plugin.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*.jar
.DS_Store
/build
/captures
.editorconfig
.externalNativeBuild
.cxx
local.properties
secrets.properties